.HomeAboutUs-conatainer{
  margin-top: 95px;
  display: flex;
  color: $font-color;
  .aboutUs-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: $light-grey-color;
    h1{
        margin-top: 186px;
        font-size: 38px;
        text-align: center;
        font-weight: bold;
    }
    h2{
      margin-top: 55px;
      font-size: 30px;
      text-align: center;
      letter-spacing: -0.6px;
      line-height: 54px;
      font-weight: bold;
    }
    .signature{
      background-image: url(../../assets/Signature.svg);
      width: 209px;
      height: 149px;
      align-self: flex-end;
      margin-right: 152px;
      margin-top: 40px;
    }
  }
  .aboutUs-picture{
    background-image: url(../../assets/People.jpg);
    width: 50%;
    height: 935px;
  }
}