@import './base/reset';
@import './settings/color';
@import'./settings/font';

body {
  margin: 0;
  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
}

@import './components/navigation';
@import './components/decoration';
@import './components/home-header';
@import './components/home-three-columns';
@import './components/home-simple-steps';
@import './components/home-about-us';
@import './components/home-who-we-help';
@import './components/home-contact';
@import './components/pagination';


